.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.leaflet-container {
  float:left;
  margin: 2%;
  width: 70%;
  height: 80vh;
}

.mapid { height: 80%; width: 60%; float:left;}

.planeInfo {
  float:left;
  width: 65%;
  height: 20%;
  background:whitesmoke;
  border:3px solid black;
  box-shadow:inset 0px 2px 2px rgba(50,50,50,.6);  
  font-style: italic ;
  padding: 1% 1%;
  margin: 1% 1%;
  
}

.singlePlainInfo {
  width: 40%;
  height: 5%;
  background: whitesmoke;
  border:3px black;
  background: -webkit-linear-gradient(130deg, #2f3a36 0%, #22302a 100%, #000000 90%);
  background: -moz-linear-gradient(130deg,#2f3a36 0%, #32463e 100%, #000000 90%);
  background: -o-linear-gradient(130deg, #2f3a36 0%,#32463e 100%, #000000 90%);
  background: linear-gradient(130deg, #2f3a36 0%,#32463e 100%, #000000 90%);
  box-shadow:inset 0px 2px 2px rgba(50,50,50,.6);
  color: white ;
  padding:0.5% 0.5%;
  margin: 0.5% 0.5%;
}

.chatContainer {
  float:right;
  width: 30%;
  height: 90%;
  background:whitesmoke;
  border:3px solid black;
  box-shadow:inset 0px 2px 2px rgba(50,50,50,.6);  
  font-style: italic ;
  padding: 1% 1%; 
  margin: 0.5%;
}